vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == 'one-fe1' else 'BACKUP' }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {{ 101 if inventory_hostname == 'one-fe1' else 100 }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass SecretCloudHA
    }

    virtual_ipaddress {
        192.168.50.10/24
    }
}
