# /etc/keepalived/keepalived.conf
# Generado por Ansible — No editar manualmente
# VRRP Instance para Alta Disponibilidad del Frontend OpenNebula
# VIP: 192.168.50.10 (Sunstone accesible via http://192.168.50.10:9869)

global_defs {
   router_id {{ inventory_hostname }}
   script_user root
   enable_script_security
}

# Script que verifica si el demonio oned está corriendo
vrrp_script check_oned {
    script "systemctl is-active --quiet opennebula"
    interval 2      # Verificar cada 2 segundos
    weight  -20     # Bajar prioridad 20 puntos si falla
    fall    2       # Fallar después de 2 checks consecutivos
    rise    2       # Recuperar después de 2 checks exitosos
}

vrrp_instance VI_ONE {
    # Define MASTER para one-fe1, BACKUP para cualquier otro
    state {{ 'MASTER' if inventory_hostname == 'one-fe1' else 'BACKUP' }}
    
    # Detecta automáticamente la interfaz de red activa de la VM (ej. eth0 o enp1s0)
    interface {{ ansible_default_ipv4.interface }}
    
    virtual_router_id 51
    
    # Prioridad 101 para MASTER (fe1), 100 para BACKUP (fe2)
    priority {{ 101 if inventory_hostname == 'one-fe1' else 100 }}

    advert_int 1    # Anuncio VRRP cada 1 segundo
    preempt         # Si MASTER se recupera, retoma la VIP automáticamente

    authentication {
        auth_type PASS
        auth_pass one_ha_2024
    }

    virtual_ipaddress {
        192.168.50.10/24 dev {{ ansible_default_ipv4.interface }}
    }

    track_script {
        check_oned
    }
}