#cloud-config
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
packages:
  - qemu-guest-agent
  - python3
  - nfs-common

runcmd:
  - systemctl start qemu-guest-agent
  - echo "Cloud-init completado exitosamente" > /var/log/cloud-init-done.log

phone_home:
  url: "http://localhost"
  post: [ instance_id, hostname ]
